<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="Ronit_RonitModule_Plugin_AddOnSaleToProductsPlugin" type="Ronit\RonitModule\Plugin\AddOnSaleToProductsPlugin" />
    </type>
    <type name="Magento\Theme\Block\Html\Footer">
        <plugin name="Ronit_RonitModule_Plugin_CopyrightPlugin" type="Ronit\RonitModule\Plugin\CopyrightPlugin" />
    </type>
    <type name="Magento\Theme\Block\Html\Breadcrumbs">
        <plugin name="Ronit_RonitModule_Plugin_BreadcrumbsPlugin" type="Ronit\RonitModule\Plugin\BreadcrumbsPlugin" />
    </type>
    <type name="Magento\Theme\Block\Html\Header">
        <plugin name="Ronit_RonitModule_Plugin_WelcomeMsgPlugin" type="Ronit\RonitModule\Plugin\WelcomeMsgPlugin" />
    </type>
</config>